.register {
    padding: 60px 0;
    min-height: calc(100vh - 124px);
}

.register .img img {
    width: 100%;
}


.register .form-label {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #024d8e;
}

.register .form-control {
    border-color: #01a9fc;
    color: #024d8e;
    font-size: 16px;
    font-weight: 400;
}

.register .form-control::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #01a9fc;
}

.register .error-msg {
    font-size: 14px;
    font-weight: 400;
    color: #db1919;
    padding-top: 10px;
}

.register .agree,
.register .form-check-label {
    font-size: 16px;
    font-weight: 400;
    color: #024d8e;
}

.register p a {
    font-size: 17px;
    font-weight: 600;
    color: #024d8e;
}