.blogs {
    padding: 60px 0;
}

.blogs .item:not(:last-child) {
    margin-bottom: 40px;
}

.blogs .item {
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.04);
}

.blogs .item h3 {
    font-size: 20px;
    font-weight: 500;
    color: #024d8e;
    display: flex;
    align-items: center;
}


.blogs .item p {
    font-size: 16px;
    font-weight: 400;
    color: #777777;
}

.blogs .item h3 .icon {
    font-size: 20px;
    stroke: #024d8e;
    margin-right: 10px;
}