* {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

a {
  text-decoration: none !important;
}

ul,
ol {
  margin-bottom: 0 !important;
}

ol li,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0 !important;
}

.title {
  text-align: center;
  padding-bottom: 40px;
}

.title h2 {
  font-size: 32px;
  line-height: 48px;
  color: #024d8e;
  font-weight: 600;
}

.btn-style {
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
  background-image: linear-gradient(to bottom, #024d8e, #01a9fc);
  padding: 0 20px;
  display: inline-block;
  border: 0;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.btn-style:hover {
  background-image: linear-gradient(to bottom, #01a9fc, #024d8e);
}

.btn-style .icon {
  margin-left: 5px;
}